
{{> layout.hbs}}


<br>

<div class="container">
    <table class="table table-sm table-light">
        <thead class="head">
        <tr>
            <th scope="col">Animal ID</th>
            <th scope="col">Ranger Name</th>
            <th scope="col">Location</th>
            <th scope="col">Time</th>
        </tr>
        </thead>
        <tbody>
        {{#if sightings}}
            {{#each sightings}}
                <tr>
                    <th scope="row">{{animalId}}</th>
                    <td>{{rangerName}}</td>
                    <td>{{location}}</td>
                    <td>{{time}}</td>
                </tr>
            {{/each}}
        {{else}}
        {{/if}}
        </tbody>
    </table>
</div>